*.o
*~
proto
.cmake/
CMakeCache.txt
CMakeFiles/
CMakeLists.txt.user.72c9fe8
CTestTestfile.cmake
DartConfiguration.tcl
Makefile
cmake_install.cmake
qtcsettings.cmake
tiny_simgrid
tiny_simgrid.cbp
CMakeLists.txt.user
.clang-format
tsg.code-workspace
.vscode/launch.json
.vscode/settings.json
build/compile_commands.json
build/Testing/Temporary/LastTest.log
tsg_old/tsg_old.pro.user
build-tsg_old-Desktop-Debug/tsg_old
build-tsg_old-Desktop-Debug/.qmake.stash
src/attic/Config.hpp
src/attic/Transition_Manager.cpp
src/attic/Transition_Manager.h
build/Testing/TAG
build/Testing/20200911-1906/Test.xml
build/Testing/Temporary/CTestCostData.txt
build/Testing/Temporary/LastTest_20200911-1906.log
